DYLIB_COMPATIBILITY_VERSION = 1.0.0
DYLIB_CURRENT_VERSION = 1.1.0
EXECUTABLE_PREFIX = lib
EXPORTED_SYMBOLS_FILE = $(SRCROOT)/exports/libarc_support.exp
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_VERSION = com.apple.compilers.llvmgcc42
LD_DYLIB_INSTALL_NAME = $(EXECUTABLE_NAME)
OTHER_LDFLAGS = -lobjc -framework CoreFoundation -framework Foundation
PRODUCT_NAME = arc_support
PUBLIC_HEADERS_FOLDER_PATH = include/libarc_support
SKIP_INSTALL = YES
